<h1>Mystic Vale Companion</h1>

<div class="mystic-vale-flexcontainer">
    <div class="corruption mystic-vale-counter">
        <button (click)="decreaseValue(corruption)">-</button><h3>Corruption: {{corruption.quantity}}</h3><button (click)="increaseValue(corruption)">+</button>
    </div>

    <div class="mana mystic-vale-counter">
        <button (click)="decreaseValue(mana)">-</button><h3>Mana: {{mana.quantity}}</h3><button (click)="increaseValue(mana)">+</button>
    </div>

    <div class="animalSpirit mystic-vale-counter">
        <button (click)="decreaseValue(animalSpirit)">-</button><h3>Animal Spirit: {{animalSpirit.quantity}}</h3><button (click)="increaseValue(animalSpirit)">+</button>
    </div>

    <div class="forestSpirit mystic-vale-counter">
        <button (click)="decreaseValue(forestSpirit)">-</button><h3>Forest Spirit: {{forestSpirit.quantity}}</h3><button (click)="increaseValue(forestSpirit)">+</button>
    </div>

    <div class="skySpirit mystic-vale-counter">
        <button (click)="decreaseValue(skySpirit)">-</button><h3>Sky Spirit: {{skySpirit.quantity}}</h3><button (click)="increaseValue(skySpirit)">+</button>
    </div>

    <div class="wildSpirit">
        <button (click)="decreaseValue(wildSpirit)">-</button><h3>Wild: Spirit: {{wildSpirit.quantity}}</h3><button (click)="increaseValue(wildSpirit)">+</button>
    </div>

    <div class="victoryPoint mystic-vale-counter">
        <button (click)="decreaseValue(victoryPoint)">-</button><h3>Victory Points: {{victoryPoint.quantity}}</h3><button (click)="increaseValue(victoryPoint)">+</button>
    </div>
</div>
