.corruption {
    display: block;
}

h3 {
    display: inline;
    margin: 10pt;
}

.mystic-vale-counter {
    display: block;
    margin: 10pt;
}

button {
    padding: 10pt;
    width: 30%;
}

.mystic-vale-flexcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}