.baseNav ul {
    list-style-type: none;
    overflow: hidden;
}

.baseNav nav {
    margin: 0;
    padding: 0;
}

.baseNav li {
    display: inline;
}

.baseNav a {
    color: beige;
    text-decoration: none;
    font-size: large;
}

.baseNav a:hover {
    color: pink;
}

.baseNav {
    width: 100%;
    background-color: darkcyan;
    padding: 2pt;
}